body{
	color: #555;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: sans-serif;
	height: 100vh;
}

.contenedor{
	border: 1px solid #333;
	display: flex;
	align-items: center;
	height: 400px;
	width: 100%;
}

.circulo{
	background-color: teal;
	border-radius: 50%;
	color: #fff;
	display: flex;
	font-size: 14px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	position: relative;
	animation-name: rebotar, saltar;
	animation-duration: 10s, .7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}


@keyframes rebotar {
	0% {
		left: 0;
	}
	100% {
		left: calc(100% - 200px);
	}
}


@keyframes saltar{
	0%{
		transform: translateY(-100px);
	}

	100%{
		transform: translateY(120px) scale(1, .8);
	}
}